.about-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 50px;
  padding: 0 20px;
  box-sizing: border-box;

  @media (min-width: 320px) and (max-width: 425px) {
    width: 100%;
    padding: 0 15px;
    margin-top: 30px;
  }
}

.about-container h2 {
  text-align: justify;
  color: var(--font-orange);
  font-size: 36px;
  font-weight: 900;

  @media (min-width: 320px) and (max-width: 425px) {
    font-size: 20px;
  }
}

.about-container p {
  text-align: justify;
  color: var(--primary-white);
  font-size: 18px;
  line-height: 1.3;
  margin-top: 50px;
  width: 100%;

  @media (max-width: 768px) {
    font-size: 16px;
    margin-top: 30px;
    line-height: 1.4;
  }

  @media (min-width: 320px) and (max-width: 425px) {
    font-size: 14px;
  }
}

.about-container span {
  display: block;
  margin-top: 30px;
}

.tech {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tech h3 {
  text-align: left;
  color: var(--primary-white);
  font-size: 20px;
  margin-top: 30px;

  @media (min-width: 320px) and (max-width: 425px) {
    font-size: 16px;
  }
}

.images-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 30px;

  @media (min-width: 320px) and (max-width: 425px) {
    grid-template-columns: repeat(2, 1fr);
    margin-top: -10px;
    padding: 0;
  }
}

.images-container img {
  width: 80px;
  height: 80px;
  padding: 20px 30px;
}

.hub {
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}

.images-container img:hover {
  transform: translateY(-10px);
  transition: 0.3s ease;
}

.experience-container {
  display: flex;
  padding: 0 10px;
}

.experience-container h3 {
  color: var(--primary-white);
  font-size: 20px;
  white-space: nowrap;

  @media (min-width: 320px) and (max-width: 425px) {
    font-size: 16px;
  }
}

.experience {
  display: grid;
  flex-direction: column;
  grid-template-columns: repeat(2, 1fr);
  padding: 60px 10px;
  color: var(--primary-white);
  width: 100%;
  gap: 30px;
  margin: 20px 0 0 -150px;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: 320px) and (max-width: 425px) {
    flex-direction: column;
  }
}

.work {
  border: 2px solid var(--font-orange);
  font-size: 18px;
  line-height: 1.3;
  border-radius: 5px;
  text-align: left;
  width: 388px;
  padding: 10px 15px;

  @media (min-width: 320px) and (max-width: 425px) {
    font-size: 12px;
    width: 233px;
    margin-left: -24px;
  }
}

.work:nth-child(3) {
  grid-column: 1 / -1;
  justify-self: center;
  margin-top: 20px;
}

.work h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 700;

  @media (min-width: 320px) and (max-width: 425px) {
    font-size: 14px;
  }
}

.work p {
  align-items: center;
  color: var(--font-orange);
  justify-content: center;
  display: flex;
  font-size: 20px;
  font-weight: 700;
  margin-top: -3px;

  @media (min-width: 320px) and (max-width: 425px) {
    font-size: 11px;
  }
}

.work ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.work h4 {
  font-size: 9px;
  font-style: italic;
  color: var(--font-orange);
  align-items: center;
  display: flex;
  justify-content: center;
}
