#nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#nav-container img {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  border: none;
  padding: 10px 10px;
}

.tabs {
  display: flex;
  gap: 20px;
  font-size: 26px;
  font-weight: 900;
  padding: 0px 10px;
  align-items: center;
  color: #fff;
}

.contact {
  /*background-color: #fd6f00;*/
  width: 100%;
  padding: 10px 10px;
  border-radius: 5px;
  color: #fd6f00;
}

a {
  text-decoration: none;
}
